In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/home/gus/Dropbox/IRONHACK/Ironhack Data Analytics.json"

In [2]:
from google.cloud import bigquery

In [3]:
client = bigquery.Client()

In [4]:
sql= '''
CREATE TABLE car_dealership.invoice(
    invoice_id NUMERIC NOT NULL,
    date NUMERIC NOT NULL,
    car_id NUMERIC NOT NULL,
    spare_part_id NUMERIC NOT NULL,
    customer_id NUMERIC NOT NULL,
    staff_id NUMERIC NOT NULL)
'''

In [40]:
sql= '''
INSERT INTO `ironhack-data-analytics.car_dealership.invoice`
 (invoice_id, date, car_id, spare_part_id, customer_id, staff_id)

VALUES
 (852399038, 22-08-2018, 0, 1, 3, 2)
'''

In [41]:
query_job = client.query(query=sql)

In [42]:
query_job.result()

In [43]:
query2="""
SELECT
    *
FROM 
    `ironhack-data-analytics.car_dealership.invoice`
"""

In [44]:
query_job = client.query(query2)
df=query_job.to_dataframe()
df

  invoice_id   date car_id spare_part_id customer_id staff_id
0  852399038   2018      0             1           3        2
1  852399038  -2004      0             1           3        2
2  852399038  -2004      0             1           3        2

In [37]:
sql= '''
ALTER TABLE `ironhack-data-analytics.car_dealership.invoice`
MODIFY COLUMN
 date date

'''

In [45]:
query_job = client.query(query=sql)

In [46]:
query_job.result()